.somosContainer {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  margin-bottom: 40px;
}

.titulo h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #c0100d; 
}

.titulo p {
  font-size: 1.2em;
  color: #555;
}

.equipoSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.equipoColumn {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.equipoMiembro {
  text-align: center;
  margin-bottom: 20px;
}

.equipoMiembro p {
  font-size: 1.1em;
  line-height: 25px;
  margin-top: 10px;
}

.equipoImagen {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #c0100d;
}

.equipoColumn h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #c0100d;
  text-align: center; 
}

.equipoColumn ul {
  list-style-type: none;
  padding: 0;
}

.equipoColumn li {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 35px;
}

.equipoImagenPrincipal {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  border: 2px solid #c0100d; 
}
